---
import Header from "../components/Header.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Shabull MKT</title>
	</head>
	<body class="max-w-5xl mx-auto text-yellow-900" >
	<Header/>	
	</body>
</html>
