<div class="border-solid border-black lg:border-solid lg:border-black  outline-8">
<main class="my-auto flex flex-col lg:flex lg:flex-row "> 
    <p class="text-4xl text-center mx-auto py-6">¿Cansado de ver tus ventas en línea caer en picada? ¿Estás a punto de rendirte? ¿Las redes sociales son un misterio insondable para ti?</p>
<img class="mx-auto py-6" src="/nonstoncks.png" alt="No hay plata" width="256px" >
</main></div>