<header class="py-4">
    <div class="py-16 flex flex-col lg:flex lg:flex-row lg:justify-between">
        <img class="basis-1/5 mx-auto py-8" src="/favicon.svg" alt="Un feroz gato gris dentro de un carrito de compras impulsando tu negocio" width="128px">
        <div class="basis-3/5 flex flex-col mx-auto py-8 justify-center ">
            <h2 class="mx-auto text-7xl text-center text-yellow-500 ">Shabull MKT</h2>
            <h1 class="mx-auto text-center text-2xl">¡Impulsando al siguiente nivel tu negocio!</h1>
        </div>
        <img class="basis-1/5 my-auto mx-auto py-8 " src="/yestonks.png" alt="impulsando hacia arriba" width="128px" height="128px">
    </div>
</header>